$primary-color: #233449;
$secondary-color: #a5112a;
$accent-color: #f68621;

$error-color: #ff5252;

$black: #000;
$white: #fff;

$grey-lighten-2: #e0e0e0;
$grey-lighten-5: #fafafa;

$font-color: #333;

$link-color: #007bff;

$disabled-state-color: #6c757d;

$body-bg-color: $grey-lighten-5;

$card-box-shadow:
  0px 3px 1px -2px rgba($black, 0.2),
  0px 2px 2px 0px rgba($black, 0.14),
  0px 1px 5px 0px rgba($black, 0.12);

$toolbar-padding-y: 1rem;
$toolbar-image-size: 32px;
